.profile-container {
  width: 100%;
  height: calc(100vh - 78px);
  display: flex;
  position: relative;
  background: #eeeeec;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 100%;
}
.profile-card {
  width: 320px;
  height: 540px;
  background: #fdfeff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 8px 40px rgba(#000000, 0.2);

  .card__icons {
    display: flex;

    i {
      font-size: 1.5rem;
      color: #080911;
      &:nth-of-type(1) {
        margin-right: auto;
      }
      &:nth-of-type(2) {
        margin-left: auto;
        padding-right: 0.8em;
      }
    }
  }
}

.card__content {
  margin-top: 2.2rem;
  position: relative;

  .card__img {
    width: 110px;
    height: 120px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 1.5em;
    border-radius: 100%;
    box-shadow: $shadow;
  }
  .card__name {
    color: #2d354a;
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
  }

  .card__title {
    color: #7c8097;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.7em;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  .card__description,
  .card__email {
    color: #080911;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 0.8rem;
  }
  .card__list {
    color: #080911;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .card__items {
    padding-left: 2.5rem;

    li {
      font-family: 'Open Sans', sans-serif;
      font-size: 1.4rem;
      font-weight: 300;
      color: #080911;
      padding-left: 1rem;
      &::marker {
        content: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.753 5.99999L10.273 8.29399C9.877 8.68399 9.877 9.31699 10.273 9.70799C10.668 10.098 11.31 10.098 11.705 9.70799L15.555 6.06099C15.843 5.77799 16 5.40299 16 4.99999C16 4.59999 15.842 4.22199 15.556 3.93999L11.706 0.292988C11.31 -0.0970117 10.668 -0.0970117 10.272 0.292988C9.877 0.682988 9.877 1.31599 10.272 1.70699L12.752 3.99999H1C0.447 3.99999 0 4.44599 0 4.99999C0 5.54999 0.448 5.99999 1 5.99999H12.753Z' fill='%237B61FF'/%3E%3C/svg%3E%0A");
      }
      &:hover::marker {
        content: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.753 5.99999L10.273 8.29399C9.877 8.68399 9.877 9.31699 10.273 9.70799C10.668 10.098 11.31 10.098 11.705 9.70799L15.555 6.06099C15.843 5.77799 16 5.40299 16 4.99999C16 4.59999 15.842 4.22199 15.556 3.93999L11.706 0.292988C11.31 -0.0970117 10.668 -0.0970117 10.272 0.292988C9.877 0.682988 9.877 1.31599 10.272 1.70699L12.752 3.99999H1C0.447 3.99999 0 4.44599 0 4.99999C0 5.54999 0.448 5.99999 1 5.99999H12.753Z' fill='%230074E0'/%3E%3C/svg%3E%0A");
      }
    }
  }
}

.card__social-icons {
  display: flex;
  margin-top: 2rem;
  justify-content: space-around;
  .social-icons {
    display: flex;
    align-items: center;
    flex-direction: column;

    a {
      color: #fff;
      width: 40px;
      height: 40px;

      line-height: 48px;
      text-align: center;
      border-radius: 30px;
      box-shadow: $shadow;

      i {
        font-size: 20px;
      }
    }
    &:nth-of-type(1) {
      a {
        background: $purple-gradient;
      }
    }
    &:nth-of-type(2) {
      a {
        background: $blue1-gradient;
      }
    }
    &:nth-of-type(3) {
      a {
        background: $blue2-gradient;
      }
    }
  }
}
